# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
*.sqlite3

# Git
.git
.gitignore

# Environment
.env
.env.*

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp

# Media/Static (optional if handled via volumes)
media/
staticfiles/

# OS files
.DS_Store
Thumbs.db
